div.action{
    display: block;
    width: 500px;
    height: 50px;
    padding: 8px;
    border: 1px solid blue;    
    background-color: white;
    text-align: center;
    vertical-align: middle;
    position:relative;
}
button.edit_btn{
    position:absolute;
    right:30px;
}
button.delete_btn{
    position:absolute;
    right:0px;
}
font.actionText{
    position: absolute;
    margin: auto;
    top: 15px;
    right: 0;
    left: 0;
}
.new_svg:hover .new_link{
    fill: #DA4567;
}



.actionText{
    color: blue;
    vertical-align: baseline;
}

.checkbox_label{
    display:block;
}

/* animation */
@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.2);
    }
}

/* path.new_cap */
/* .scaleTransition{
    animation: scaleDraw 1s;
} */

.scaleTransition{
    animation-name: scaleDraw; /*关键帧名称*/
    animation-timing-function: ease-in-out; /*动画的速度曲线*/
    animation-iteration-count: 3;  /*动画播放的次数*/
    animation-duration: 1s; /*动画所花费的时间*/
}
