div.action-row-div, div.new-action-div{
    display: block;
    width: 720px;
    padding: 8px;
    border: 1px solid black;
    background-color: white;
    text-align: left;
    vertical-align: middle;
    position:relative;
}

.action-block{
    border: 1px solid black;
}

.modal-title{
    font-weight: bold;
}

.action-text, .action-name, .pre-text, .title-text{
    font-family: "Times New Roman", Times, sans-serif;
}

.pre-text{
    display: inline-block;
}

h4.pos-precondition, h4.neg-precondition, h4.pos-effect, h4.neg-effect{
    display: block;
}

h4.pos-precondition{
    background-color: rgba(221, 193, 156, 0.3);
}

h4.neg-precondition{
    background-color: rgba(183, 215, 215, 0.55);
}

h4.pos-effect{
    background-color: rgba(250, 194, 178, 0.4);
}

h4.neg-effect{
    background-color: rgba(181, 196, 177, 0.45);
}

button.action_delete_button{
    position:absolute;
    right:0px;
}
.action-pre-svg{
    margin-left:0;
    margin-right:0;
    padding-left: 0;
    padding-right:0;
}
.action-pre-svg:hover .new_link{
    fill: #DA4567;
}

/* animation */
@keyframes scaleLink {
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(0);
    }
    100%{
        transform: scale(1.2);
    }
}

.miss-pos-pre-link{
    animation-name: scaleLink;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-duration: 1s;
}

.miss-neg-pre-link{
    animation-name: scaleLink;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 3;
    animation-duration: 1s;
}
