<!DOCTYPE html>
<html>
<head>
    <title>My Conductor</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script type="text/javascript" src="static/js/data.js"></script>
    <script type="text/javascript" src="static/js/js-colormaps.js"></script>
</head>
<body>

    <div class="jumbotron text-center">
        <h1>Conductor</h1>
        <p></p> 
    </div>

<div class="container">
    <div class="row">
        <div class="col-xs-7">
            <div id="planning">

            </div>
        </div>

        <div class="col-xs-5">
            <span id="svg_name">on mouse over</span>

            <form id="edit_precondition_form" action="" method="post">
                <h3>Edit Action</h3>
                <div class="form-group">
                    <label for="edit_precondition_layout">Edit Precondition:</label>
                    <div class="form-group" id="edit_precondition_layout"></div>
                </div>
                <div class="form-group">
                    <label for="edit_positive_effect_layout">Edit Positive Effect:</label>
                    <div class="form-group" id="edit_positive_effect_layout"></div>
                    <label for="edit_negative_effect_layout">Edit Negative Effect:</label>
                    <div class="form-group" id="edit_negative_effect_layout"></div>
                </div>
            </form>
            <button type="button" class="btn btn-primary" id="edit_action_button">Edit Action</button>

            <form id="add_action_form" action="" method="post">
                <h3>Add Action</h3>
				<div class="form-group">
                    <label for="add_action_layout">New action name:</label>
                    <div class="form-group" id="add_action_layout"></div>
				</div>
                <div class="form-group">
				  <label for="add_action_position_select">After action:</label>
				  <select class="form-control" id="add_action_position_select"></select>
				</div>
				<div class="form-group">
                    <label for="add_precondition_layout">Add preconditions for the new action:</label>
                    <label for="add_pre_number">number of preconditions:</label>
                    <input type="text" id="add_pre_number"></input>
                    <div class="form-group" id="add_precondition_layout"></div>
                </div>
                <div class="form-group">
                    <label for="add_positive_effect_layout">Add positive effects for the new action:</label>
                    <label for="add_positive_eff_number">number of effects:</label>
                    <input type="text" id="add_positive_eff_number"></input>
                    <div class="form-group" id="add_positive_effect_layout"></div>

                    <label for="add_negative_effect_layout">Add negative effects for the new action:</label>
                    <label for="add_negative_eff_number">number of effects:</label>
                    <input type="text" id="add_negative_eff_number"></input>
                    <div class="form-group" id="add_negative_effect_layout"></div>
                </div>
			</form>
			<button type="button" class="btn btn-primary" id="add_action_button">Add Action</button>
        </div>
    </div>
</div>


<script>
	$(document).ready(function(){
        
        // 这几个list要随改随更新！！
        ori_data = {{ ori_data|tojson }};
        data = {{ data|tojson }};
        action_list = data["action_list"];
        action_dict = data["action_dict"];
        negative_effect_action_dict = data["negative_effect_action_dict"];
        objects = data["objects"];
        op_acts = data["op_acts"];
        pre_acts = data["pre_acts"];
        eff_acts = data["eff_acts"];
        precondition_list = data["precondition_list"];
        precondition_dict = data["precondition_dict"];
        effect_duration = data["effect_duration"]; // value is Array of Array

        // test set
        //console.log(effect_duration["('handempty',)"].constructor == Array); //true
        //console.log(effect_duration["('handempty',)"][0].constructor == Array); //true
        
        color_set = cmap_rainbow(50);
		//color_set = ['gold','orange','red','palevioletred','purple','green','gray','black']

		// load initial plan
		createPlanning();

        // global variables
        edit_action = "";
        delete_action = "";
        
	});






    // --------Define functions below-------------

    function cmap_rainbow(valcnt, cyclelen = null, s = 100, l = 50, stepsize=1) {
        if (cyclelen == null)
            cyclelen = valcnt;
        var cm = new Array(valcnt);
        /* Deliberately exclude the endpoint because it's cyclic. */
        if (cyclelen <= 2)
            var step = 360;
        else
            var step = 360. / (cyclelen - 1);
        for (var i = 0; i < valcnt * stepsize; i += stepsize) {
            let h = Math.round((i % cyclelen) * step);
            // Use this if you want hsl values:
            //cm[i] = 'hsl(' + h + ',' + s + '%,' + l + '%)';
            // Use this if you want rgb values:
            let rgb = hslToRgb(h / 360., s / 100., l / 100.);
            cm[i] = 'rgb(' + Math.round(rgb[0]) + ',' +
                Math.round(rgb[1]) + ',' + Math.round(rgb[2]) + ')';
        }
        return cm;
    }

    function hslToRgb(h, s, l) {
        var r, g, b;

        if (s == 0) {
            r = g = b = l; // achromatic
        } else {
            function hue2rgb(p, q, t) {
                if (t < 0) t += 1;
                if (t > 1) t -= 1;
                if (t < 1 / 6) return p + (q - p) * 6 * t;
                if (t < 1 / 2) return q;
                if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
                return p;
            }

            var q = l < 0.5 ? l * (1 + s) : l + s - l * s;
            var p = 2 * l - q;
            r = hue2rgb(p, q, h + 1 / 3);
            g = hue2rgb(p, q, h);
            b = hue2rgb(p, q, h - 1 / 3);
        }

        return [r * 255, g * 255, b * 255];
    }


    // click icon, load events
    function clickEditIcon(){
        var array = Array.from(document.getElementsByClassName('edit_btn'));
        array.forEach(btn=>{
            btn.onclick = e=>{
                //console.log(e);
                // click on pen
                if(e.target.getAttribute("class")=="fa fa-pen")
                    edit_action = e.target.parentElement.parentElement.id;
                // click on outside rectangle button
                else
                    edit_action = e.target.parentElement.id;
                loadEditActionSelects();
            }
        });
    }

    function clickDeleteIcon(){
        var array = Array.from(document.getElementsByClassName('delete_btn'));
        array.forEach(btn=>{
            btn.onclick = e=>{
                //console.log(e);
                // click on pen
                if(e.target.getAttribute("class")=="fa fa-trash")
                    delete_action = e.target.parentElement.parentElement.id;
                // click on outside rectangle button
                else
                    delete_action = e.target.parentElement.id;
                deleteAction();
            }
        });
    }


    // load helper
    function loadElement(layout,condition,elem,sign,idx){
        var selectList = document.createElement("select");
        selectList.id = sign+"_"+condition+"_"+elem+"_select"+idx;
        var label = document.createElement("label");
        label.for = sign+"_"+condition+"_"+elem+"_select"+idx;
        var label_text = document.createTextNode(elem+":\t");
        label.appendChild(label_text);
        var br = document.createElement("br");
        layout.appendChild(label);
        layout.appendChild(selectList);
        layout.appendChild(br);
        //Create and append the options
        // default no selection
        var option = document.createElement("option");
        option.value = "None";
        option.text = "None";
        selectList.appendChild(option);
        if(condition=="action" && elem=="action")
            var optionList = Object.keys(op_acts)
        else if(condition=="precondition" && elem=="operator")
            var optionList = Object.keys(pre_acts);
        else if(condition=="effect" && elem=="operator")
            var optionList = Object.keys(eff_acts);
        else if(elem=="object1" || elem=="object2")
            var optionList = objects;
        else if(elem=="checkbox")
            var optionList = ['Yes','No'];
        for (var i = 0; i < optionList.length; i++) {
            if(elem=="object1" || elem=="object2")
                var option_value = optionList[i][0];
            else
                var option_value = optionList[i];
            var option = document.createElement("option");
            option.value = option_value;
            option.text = option_value;
            selectList.appendChild(option);
        }
    }

    function loadCondition(operation,condition,sign,num){
        if(sign!=null)
            var layout = document.getElementById(operation+"_"+sign+"_"+condition+"_layout");
        else
            var layout = document.getElementById(operation+"_"+condition+"_layout");
        // remove all childNodes before add new ones
        while(layout.childNodes.length!=0)
            layout.removeChild(layout.childNodes[0]);
            var pre_act_selectList = document.createElement("select");
        // add new ones
        for(var i=0;i<num;i++){
            if(condition=="action")
                loadElement(layout,condition,"action",sign,i+1);
            else
                loadElement(layout,condition,"operator",sign,i+1);
            loadElement(layout,condition,"object1",sign,i+1);
            loadElement(layout,condition,"object2",sign,i+1);
            if(operation=="edit")
                loadElement(layout,condition,"checkbox",sign,i+1);
        }
    }

    // load selections
    function loadEditActionSelects(){
        console.log("loadEditActionSelects");
        loadCondition("edit","precondition",null,1);
        loadCondition("edit","effect","positive",1);
        loadCondition("edit","effect","negative",1);
    }

    function loadAddActionSelects(){
        console.log("loadEditActionSelects");
        loadCondition("add","action",null,1);
        loadCondition("add","precondition",null,1);
        loadCondition("add","effect","positive",1);
        loadCondition("add","effect","negative",1);

        // load new action position select
        var position_select = document.getElementById("add_action_position_select");
        // remove all childNodes before add new ones
        while(position_select.childNodes.length!=0)
            position_select.removeChild(position_select.childNodes[0]);
        // add new
	    for(var act_idx in action_list){
	        if(act_idx==action_list.length-1) break;
            var action = action_list[act_idx];
            var option = document.createElement("option");
            option.text = action;
            option.value = action;
            position_select.appendChild(option);
	    }
    }

    function deleteAction(){
        console.log("deleteAction");
        console.log(delete_action);
        var current_idx = action_list.indexOf(delete_action);

        // update data
        // update precondition_dict
        for(var pre_idx in action_dict[delete_action]["Precondition"]){
            var pre = action_dict[delete_action]["Precondition"][pre_idx];
            precondition_dict[pre] = precondition_dict[pre].filter(function(e) { return e !== delete_action });
        }
        // update action_list
        action_list = action_list.filter(function(e) { return e !== delete_action });
        // update effect_duration
        // remove effects generated by this action
        for(var eff_idx in action_dict[delete_action]["Effect"]){
            var eff = action_dict[delete_action]["Effect"][eff_idx];
            effect_duration[eff] = effect_duration[eff].filter(function(e) { return e[0] !== current_idx });
        }
        // update effect_duration for other effects (-1)
        for(var eff in effect_duration){ 
            var duration_idx = 0;
            while(duration_idx < effect_duration[eff].length){
                var duration = effect_duration[eff][duration_idx];
                if(duration.length==current_idx && duration[1]==current_idx){
                    // (0,2)(3,4)->(0,2)(2,3)
                    if(duration_idx != effect_duration[eff].length-1){
                        var next_duration = effect_duration[eff][duration_idx+1];
                        effect_duration[eff][duration_idx] = [duration[0],next_duration[0]-1];
                        continue;
                    }
                    // (0,2)->(0,)
                    else{
                        effect_duration[eff][duration_idx] = [duration[0],];
                    }
                }
                else if(duration.length==1 && duration[0]>current_idx){
                    effect_duration[eff][duration_idx] = [duration[0]-1,];
                }
                else if(duration.length==2){
                    var i=duration[0], j=duration[1];
                    if(duration[0]>current_idx)
                        i--;
                    if(duration[1]>current_idx)
                        j--;
                    effect_duration[eff][duration_idx] = [i,j];
                }
                duration_idx++;
            }
        }
        
        // update action_dict
        delete action_dict[delete_action];
        // update negative_effect_action_dict
        delete negative_effect_action_dict[delete_action];

        // re-generate graph
        createPlanning();
    }


    // submit helper
    function readElement(condition,elem,sign,idx){
        var select=document.getElementById(sign+"_"+condition+"_"+elem+"_select"+idx);
        var selected_idx = select.selectedIndex;
        var selected_name = select.options[selected_idx].value;
        return [selected_idx,selected_name];
    }

    function readCondition(operation,condition,sign,num){
        if(condition=="action")
            var optionDict = op_acts;
        else if(condition=="precondition")
            var optionDict = pre_acts;
        else if(condition=="effect")
            var optionDict = eff_acts;
        
        var opList = [];
        for(var i=0;i<num;i++){
            if(condition=="action")
                [op_idx,op_name] = readElement(condition,"action",sign,i+1);
            else
                [op_idx,op_name] = readElement(condition,"operator",sign,i+1);
            if(optionDict[op_name]!=1)
                [obj1_idx,obj1_name] = readElement(condition,"object1",sign,i+1);
            if(optionDict[op_name]==3)
                [obj2_idx,obj2_name] = readElement(condition,"object2",sign,i+1);
            if(operation=="edit")
                [chx_idx,chx_name] = readElement(condition,"checkbox",sign,i+1);
            
            // get condition complete name
            var len = optionDict[op_name];
            if(len==1){
                var op = '\(\''+op_name+'\'\,\)';
                opList.push(op);
            }
            else if(len==2){
                var op = '\(\''+op_name+'\'\, \''+obj1_name+'\'\)';
                opList.push(op);
            }
            else if(len==3){
                var op = '\(\''+op_name+'\'\, \''+obj1_name+'\'\, \''+obj2_name+'\'\)';
                opList.push(op);
            } 
        }
        if(operation=="edit")
            return [opList,chx_name];
        else
            return opList;
    }

    // click submit button
    function submitEditAction(){
        var current_idx = action_list.indexOf(edit_action);
        // get selected values
        [pres,pre_chx] = readCondition("edit","precondition",null,1);
        [pos_effs,pos_eff_chx] = readCondition("edit","effect","positive",1);
        [neg_effs,neg_eff_chx] = readCondition("edit","effect","negative",1);
        
        // update data
        // update precondition change
        if(pres.length != 0){
            var precondition = pres[0];
            if(action_dict[edit_action]["Precondition"].includes(precondition) && pre_chx=="No"){
                console.log("precondition include want delete");
                
                // update precondition_list
                if(precondition_dict[precondition].length==1)
                    precondition_list.filter(function(e) { return e !== precondition });
                
                // update precondition_dict
                precondition_dict[precondition] = precondition_dict[precondition].filter(function(e) { return e !== edit_action });
                
                // update action_dict
                action_dict[edit_action]["Precondition"] = action_dict[edit_action]["Precondition"].filter(function(e) { return e !== precondition });
            }
            
            else if(!action_dict[edit_action]["Precondition"].includes(precondition) && pre_chx=="Yes"){
                console.log("precondition not include want include");
                
                // update precondition_list
                if(!precondition_list.includes(precondition)){
                    var act_pre_len = action_dict[edit_action]["Precondition"].length;
                    if(act_pre_len != 0){
                        var last_pre = action_dict[edit_action]["Precondition"][act_pre_len-1];
                        var last_pre_idx = precondition_list.indexOf(last_pre);
                    }
                    // no precondition in this action yet
                    // it's the first action
                    else if(current_idx==0)
                        var last_pre_idx = -1;
                    // not the first action, find the last pre in previous action
                    else{
                        for(var i=1;i<=current_idx;i++){
                            var previous_action = action_list[current_idx - i];
                            var act_pre_len = action_dict[previous_action]["Precondition"].length;
                            if(act_pre_len == 0){
                                continue;
                            }
                            else{
                                var last_pre = action_dict[previous_action]["Precondition"][act_pre_len-1];
                                var last_pre_idx = precondition_list.indexOf(last_pre);
                            }
                        }
                    }
                    precondition_list.splice(last_pre_idx+1,0,precondition);
                }
                
                // update precondition_dict
                if(!(precondition in precondition_dict))
                    precondition_dict[precondition] = [edit_action];
                else{
                    precondition_dict[precondition].push(edit_action);
                    precondition_dict[precondition].sort(function(a, b){return action_list.indexOf(a)-action_list.indexOf(b)});
                }
                
                // update action_dict
                action_dict[edit_action]["Precondition"].push(precondition);
                action_dict[edit_action]["Precondition"].sort(function(a, b){return precondition_list.indexOf(a)-precondition_list.indexOf(b)});
            }
        }

        // update positive effect change
        if(pos_effs.length!=0){
            var pos_effect = pos_effs[0];
            // remove positive effect
            if(action_dict[edit_action]["Effect"].includes(pos_effect) && pos_eff_chx=="No"){
                console.log("positive effect include want delete");
                
                // update effect_duration
                effect_duration[pos_effect] = effect_duration[pos_effect].filter(function(e) { return e[0] !== current_idx });

                // update action_dict
                action_dict[edit_action]["Effect"] = action_dict[edit_action]["Effect"].filter(function(e) { return e !== pos_effect });
                negative_effect_action_dict[edit_action]["Effect"]["pos"] = negative_effect_action_dict[edit_action]["Effect"]["pos"].filter(function(e) { return e !== pos_effect });
            }
            // add positive effect
            else if(!action_dict[edit_action]["Effect"].includes(pos_effect) && pos_eff_chx=="Yes"){
                console.log("positive effect not include want include");
                
                // update effect_duration (0,5)+1 -> (0,1),(1,5)
                // user-added new effect
                if(!(pos_effect in effect_duration)){
                    effect_duration[pos_effect] = [];
                    effect_duration[pos_effect].push([current_idx,]);
                }
                else{
                    var effect_len = effect_duration[pos_effect].length;
                    var duration = [-1];
                    for(var i=effect_len-1;i>=0;i--){
                        duration = effect_duration[pos_effect][i];
                        if(duration[0]<current_idx){
                            // (0,)+2 -> (0,2),(2,)
                            if(duration.length==1){
                                effect_duration[pos_effect][i] = [duration[0],current_idx];
                                effect_duration[pos_effect].splice(i+1,0,[current_idx,]);
                            }
                            // (0,4)+2 -> (0,2),(2,4)
                            else if(duration[1]>current_idx){
                                effect_duration[pos_effect][i] = [duration[0],current_idx];
                                effect_duration[pos_effect].splice(i+1,0,[current_idx,duration[1]]);
                            }
                            // duration[1]<=current_idx, direct add
                            // (0,1)+2 -> (0,1),(2,)
                            // (0,1),(3,4)+2 -> (0,1),(2,3),(3,4)
                            // (0,2)+2 -> (0,2),(2,)
                            // (0,2),(3,4)+2 -> (0,2),(2,3),(3,4)
                            else{
                                // is the last duration
                                if(i==effect_len-1){
                                    effect_duration[pos_effect].splice(i+1,0,[current_idx,]);
                                }
                                else{
                                    var next_duration = effect_duration[pos_effect][i+1];
                                    effect_duration[pos_effect].splice(i+1,0,[current_idx,next_duration[0]]);
                                }
                            }
                            break;
                        }
                    }
                    // the new duration should be the first one
                    if(duration[0]==-1){
                        if(effect_duration[pos_effect].length!=0){
                            var next_duration = effect_duration[pos_effect][0];
                            effect_duration[pos_effect].splice(0,0,[current_idx,next_duration[0]]);
                        }
                        else{
                            effect_duration[pos_effect].splice(0,0,[current_idx,]);
                        }
                    }
                }

                // update action_dict
                action_dict[edit_action]["Effect"].push(pos_effect);
                negative_effect_action_dict[edit_action]["Effect"]["pos"].push(pos_effect);
            }
        }

        // update negative effect
        if(neg_effs.length!=0){
            var neg_effect = neg_effs[0];

            // add negative effect
            if(!negative_effect_action_dict[edit_action]["Effect"]["neg"].includes(neg_effect) && neg_eff_chx=="Yes"){
                console.log("add negative effect");
                // update negative_effect_action_dict
                negative_effect_action_dict[edit_action]["Effect"]["neg"].push(neg_effect);
                // update effect_duration
                // currently do nothing for non-existing durations, but if add a duration that need to stop at negative effect later, negative effect won't take effect, might have to re-generate the whole effect_duration
                if(!(neg_effect in effect_duration))
                    effect_duration[neg_effect] = [];
                else{
                    for(var duration_idx=0;duration_idx<effect_duration[neg_effect].length;duration_idx++){
                        var duration = effect_duration[neg_effect][duration_idx];
                        if(duration.length==1 || duration[1]>=current_idx){
                            // stop duration that passes through this action at this action
                            effect_duration[neg_effect][duration_idx]=[duration[0],current_idx];
                            break;
                        }
                    }
                }
            }
            // remove negative effect
            else if(negative_effect_action_dict[edit_action]["Effect"]["neg"].includes(neg_effect) && neg_eff_chx=="No"){
                console.log("remove negative effect");
                
                // update effect_duration
                for(var duration_idx=0;duration_idx<effect_duration[neg_effect].length;duration_idx++){
                    var duration = effect_duration[neg_effect][duration_idx];
                    if(duration.length==2 && duration[1]==current_idx){
                        // last duration: (2,3)->(2,)
                        if(duration_idx==(effect_duration[neg_effect].length-1))
                            effect_duration[neg_effect][duration_idx]=[duration[0],];
                        // not last: (2,3)(4,5)->(2,4)(4,5)
                        else{
                            var next_duration = effect_duration[neg_effect][duration_idx+1];
                            effect_duration[neg_effect][duration_idx]=[duration[0],next_duration[0]];
                        }
                    }
                }

                // update negative_effect_action_dict
                negative_effect_action_dict[edit_action]["Effect"]["neg"] = negative_effect_action_dict[edit_action]["Effect"]["neg"].filter(function(e) { return e !== neg_effect });
            }
        }

        // re-generate link graph
        createPlanning();
    }

	function submitAddAction(){
        // get selected values
        var new_acts = readCondition("add","action",null,1);
        var new_pres = readCondition("add","precondition",null,pre_num);
        var new_pos_effs = readCondition("add","effect","positive",pos_eff_num);
        var new_neg_effs = readCondition("add","effect","negative",neg_eff_num);

        // get action position
        var previous_action_select = document.getElementById("add_action_position_select");
        var previous_action_idx = previous_action_select.selectedIndex;
        var previous_action = previous_action_select.options[previous_action_idx].value;
        
        // update data
        // add new action
        if(new_acts.length!=0){
            var new_action = new_acts[0];
            // update action_list
            var new_act_insert_idx = action_list.indexOf(previous_action)+1;
            action_list.splice(new_act_insert_idx,0,new_action);
            // update action_dict
            action_dict[new_action] = {};
            action_dict[new_action]["Precondition"] = [];
            action_dict[new_action]["Effect"] = [];
            // update negative_effect_action_dict
            negative_effect_action_dict[new_action] = {};
            negative_effect_action_dict[new_action]["Precondition"] = [];
            negative_effect_action_dict[new_action]["Effect"] = {};
            negative_effect_action_dict[new_action]["Effect"]["pos"] = [];
            negative_effect_action_dict[new_action]["Effect"]["neg"] = [];

            // update effect_duration for no effects: every duration >= new_act_insert_idx, duration+=1
            for(var eff in effect_duration){
                for(var duration_idx in effect_duration[eff]){
                    var duration = effect_duration[eff][duration_idx];
                    if(duration[0]>=new_act_insert_idx)
                        effect_duration[eff][duration_idx][0]++;
                    if(duration.length==2 && duration[1]>=new_act_insert_idx)
                        effect_duration[eff][duration_idx][1]++;
                }
            }
        }
        else{
            // no new action to insert
            return;
        }

        // add preconditions to new action
        for(var new_pre_idx in new_pres){
            var new_pre = new_pres[new_pre_idx];
                
            // update precondition_list
            if(!precondition_list.includes(new_pre)){
                var act_pre_len = action_dict[new_action]["Precondition"].length;
                if(act_pre_len != 0){
                    var last_pre = action_dict[new_action]["Precondition"][act_pre_len-1];
                    var last_pre_idx = precondition_list.indexOf(last_pre);
                }
                // no precondition in this action yet
                // it's the first action
                else if(new_act_insert_idx==0)
                    var last_pre_idx = -1;
                // not the first action, find the last pre in previous action
                else{
                    for(var i=1;i<=new_act_insert_idx;i++){
                        var previous_action = action_list[new_act_insert_idx - i];
                        var act_pre_len = action_dict[previous_action]["Precondition"].length;
                        if(act_pre_len == 0){
                            continue;
                        }   
                        else{
                            var last_pre = action_dict[previous_action]["Precondition"][act_pre_len-1];
                            var last_pre_idx = precondition_list.indexOf(last_pre);
                        }
                    }
                }
                precondition_list.splice(last_pre_idx+1,0,new_pre);            
            }
            
            // update precondition_dict
            if(!(new_pre in precondition_dict))
                precondition_dict[new_pre] = [new_action];
            else{
                precondition_dict[new_pre].push(new_action);
                precondition_dict[new_pre].sort(function(a, b){return action_list.indexOf(a)-action_list.indexOf(b)});
            }
            
            // update action_dict
            action_dict[new_action]["Precondition"].push(new_pre);
            action_dict[new_action]["Precondition"].sort(function(a, b){return precondition_list.indexOf(a)-precondition_list.indexOf(b)});
        }

        // add positive effects to new action
        for(var new_eff_idx in new_pos_effs){
            var new_eff = new_pos_effs[new_eff_idx];
                
            // update effect_duration (0,5)+1 -> (0,1),(1,5)
            // user-added new effect
            if(!(new_eff in effect_duration)){
                effect_duration[new_eff] = [];
                effect_duration[new_eff].push([new_act_insert_idx,]);
            }
            else{
                var effect_len = effect_duration[new_eff].length;
                var duration = [-1];
                for(var i=effect_len-1;i>=0;i--){
                    duration = effect_duration[new_eff][i];
                    if(duration[0]<new_act_insert_idx){
                        // (0,)+2 -> (0,2),(2,)
                        if(duration.length==1){
                            effect_duration[new_eff][i] = [duration[0],new_act_insert_idx];
                            effect_duration[new_eff].splice(i+1,0,[new_act_insert_idx,]);
                        }
                        // (0,4)+2 -> (0,2),(2,4)
                        else if(duration[1]>new_act_insert_idx){
                            effect_duration[new_eff][i] = [duration[0],new_act_insert_idx];
                            effect_duration[new_eff].splice(i+1,0,[new_act_insert_idx,duration[1]]);
                        }
                        // duration[1]<=new_act_insert_idx, direct add
                        // (0,1)+2 -> (0,1),(2,)
                        // (0,1),(3,4)+2 -> (0,1),(2,3),(3,4)
                        // (0,2)+2 -> (0,2),(2,)
                        // (0,2),(3,4)+2 -> (0,2),(2,3),(3,4)
                        else{
                            // is the last duration
                            if(i==effect_len-1){
                                effect_duration[new_eff].splice(i+1,0,[new_act_insert_idx,]);
                            }
                            else{
                                var next_duration = effect_duration[new_eff][i+1];
                                effect_duration[new_eff].splice(i+1,0,[new_act_insert_idx,next_duration[0]]);
                            }
                        }
                        break;
                    }
                }
                // the new duration should be the first one
                if(duration[0]==-1){
                    if(effect_duration[effect].length!=0){
                        var next_duration = effect_duration[effect][0];
                        effect_duration[new_eff].splice(0,0,[new_act_insert_idx,next_duration[0]]);
                    }
                    else{
                        effect_duration[new_eff].splice(0,0,[new_act_insert_idx,]);
                    }
                }
            }

            // update action_dict
            action_dict[new_action]["Effect"].push(new_eff);
            negative_effect_action_dict[new_action]["Effect"]["pos"].push(new_eff);
        }

        // add negative effects to new action
        for(var new_eff_idx in new_neg_effs){
            var neg_effect = new_neg_effs[new_eff_idx];
                
            // update negative_effect_action_dict
            negative_effect_action_dict[new_action]["Effect"]["neg"].push(neg_effect);
            // update effect_duration
            // currently do nothing for non-existing durations, but if add a duration that need to stop at negative effect later, negative effect won't take effect, might have to re-generate the whole effect_duration
            if(!(neg_effect in effect_duration))
                effect_duration[neg_effect] = [];
            else{
                for(var duration_idx=0;duration_idx<effect_duration[neg_effect].length;duration_idx++){
                    var duration = effect_duration[neg_effect][duration_idx];
                    if(duration.length==1 || duration[1]>=new_act_insert_idx){
                        // stop duration that passes through this action at this action
                        effect_duration[neg_effect][duration_idx]=[duration[0],new_act_insert_idx];
                        break;
                    }
                }
            }
        }

        // re-generate link graph
        createPlanning();
    }

    

    // animations
    // swap actions
    let fromDom = null,
        toDom = null;

    // start dragging in A, fromDom=A
    function handleDragStart(e, dom) {
        fromDom = dom;
    }

    function handleDragOver(e, dom) {
        //default cannot drop elements into other elements, cancel default
        e.preventDefault();
    }

    // end dragging in B, toDom=B
    function handleDrop(e, dom) {
        toDom = dom;
        swapDom(fromDom,toDom);
    }

    //swap dom contents
    function swapDom(from, to) {
        let from_id = from.id;
        let to_id = to.id;
        var from_act = from_id.substring(0,from_id.length-11);
        var to_act = to_id.substring(0,to_id.length-11);
        var from_act_idx = action_list.indexOf(from_act);
        var to_act_idx = action_list.indexOf(to_act);
        if(from_act_idx == to_act_idx)
            return;
        // -> from < to
        if(from_act_idx>to_act_idx)
        {
            [from_act_idx,to_act_idx] = [to_act_idx, from_act_idx];
            [from_act,to_act] = [to_act, from_act];
        }

        // update action_list
        let temp = action_list[from_act_idx];
        action_list[from_act_idx] = action_list[to_act_idx];
        action_list[to_act_idx] = temp;

        // re-generate precondition_list based on action_dict
        precondition_list = [];
        for(var act_idx in action_list){
            var action = action_list[act_idx];
            for(var pre_idx in action_dict[action]["Precondition"]){
                var pre = action_dict[action]["Precondition"][pre_idx];
                if(!precondition_list.includes(pre))
                    precondition_list.push(pre);
            }
        }

        // update precondition_dict order
        for(var pre in precondition_dict){
            precondition_dict[pre].sort(function(a, b){return action_list.indexOf(a)-action_list.indexOf(b)});
        }

        // re-generate effect_duration according to negative_effect_action_dict
        effect_duration = {}
        for(var act_idx in action_list){
            var action = action_list[act_idx];
            // duration start action
            for(var pos_eff_idx in negative_effect_action_dict[action]["Effect"]["pos"]){
                var pos_eff = negative_effect_action_dict[action]["Effect"]["pos"][pos_eff_idx];
                if(!(pos_eff in effect_duration)){
                    console.log("not in")
                    effect_duration[pos_eff] = [];
                }
                effect_duration[pos_eff].push([act_idx,]);
            }
            // duration end action
            for(var neg_eff_idx in negative_effect_action_dict[action]["Effect"]["neg"]){
                var neg_eff = negative_effect_action_dict[action]["Effect"]["neg"][neg_eff_idx];
                if(!(neg_eff in effect_duration))
                    continue;
                let last_duration = effect_duration[neg_eff][effect_duration[neg_eff].length-1];
                effect_duration[neg_eff][effect_duration[neg_eff].length-1] = [last_duration[0],act_idx];
            }
        }

        createPlanning();
    }

    // miss precondition
    function linkAniEnd(dom){
        dom.setAttribute("visibility","hidden");
    }



    // validate new plan (to-do)
    function validatePlan(){

    }


    // setting the graphs
	function createSvg(action, pre){
		// create new svg object
		var new_svg = document.createElementNS("http://www.w3.org/2000/svg", "svg");
        new_svg.setAttribute('id', action+"_"+pre+"_svg");
        new_svg.setAttribute('class','new_svg');
		new_svg.setAttribute('width', '4%');
		new_svg.setAttribute('height', '40');
		new_svg.setAttribute('version', '1.1');
		new_svg.setAttribute('xmlns', 'http://www.w3.org/2000/svg');
        new_svg.setAttribute('vertical-align', 'top');
		return new_svg;
	}

	function createCap(hide,miss_pre){
		var new_cap = document.createElementNS("http://www.w3.org/2000/svg", "path");
		new_cap.setAttributeNS(null, "class", "new_cap");
		new_cap.setAttributeNS(null, "d", "M15,40 a1,1 0 1,0 -15,0");
		if(hide)
            new_cap.setAttribute('visibility', 'hidden');
        else
            new_cap.setAttribute('visibility', 'visible');
        if(miss_pre)
            new_cap.setAttributeNS(null,'fill', 'red');
        else
            new_cap.setAttributeNS(null,'fill', 'dodgerblue');
		return new_cap;
	}

	function createLink(color, hide){
		var new_link = document.createElementNS("http://www.w3.org/2000/svg", "rect");
		new_link.setAttributeNS(null, "class", "new_link");
		new_link.setAttributeNS(null, "x", "2.5");
		new_link.setAttributeNS(null, "y", "0");
		new_link.setAttributeNS(null, "width", "10");
		new_link.setAttributeNS(null, "height", "40");
        //console.log("color:"+color);
        new_link.setAttributeNS(null, "fill", color);
        if(hide)
            new_link.setAttribute('visibility', 'hidden');
        else
            new_link.setAttribute('visibility', 'visible');
		return new_link;
	}

	function createIcons(action){
	    //<button class="btn"><i class="fa fa-trash"></i></button>
	    //<i class='fas fa-pen'></i>
	    var delete_button = document.createElement("button");
		delete_button.setAttribute("class","delete_btn");
		delete_button.setAttribute("id",action+"_delete_button");
		delete_button.setAttribute("padding","0px 0px");
		delete_button.setAttribute("border","none");
		var delete_icon = document.createElement("i");
		delete_icon.setAttribute("class","fa fa-trash");
		delete_button.appendChild(delete_icon);

		var edit_button = document.createElement("button");
		edit_button.setAttribute("class","edit_btn");
		edit_button.setAttribute("id",action+"_edit_button");
		var edit_icon = document.createElement("i");
		edit_icon.setAttribute("class","fa fa-pen");
		edit_button.appendChild(edit_icon);

		return [delete_button, edit_button];
	}

    function createRows(action){
        // create rows
        // action rows
        var row_action_div = document.createElement("div");
        row_action_div.setAttribute("class","row");
        row_action_div.setAttribute("id",action+"_action_row");
        // drag to change order
        row_action_div.setAttribute("draggable","true");
        row_action_div.setAttribute("ondragstart","handleDragStart(event,this)");
        row_action_div.setAttribute("ondragover","handleDragOver(event,this)");
        row_action_div.setAttribute("ondrop","handleDrop(event,this)");
        // link rows
        var row_link_div = document.createElement("div");
        row_link_div.setAttribute("class","row");
        row_link_div.setAttribute("id",action+"_link_row");

        // add action
        var action_div = document.createElement("div");
        action_div.setAttribute("class","action");
        action_div.setAttribute("id",action);
        // text within div
        var action_text = document.createElement("font");
        action_text.setAttribute("class","actionText");
        action_text.textContent = action
        action_div.appendChild(action_text);
        // create icon buttons for the action
        var icon_buttons = createIcons(action);
        var delete_button = icon_buttons[0];
        var edit_button = icon_buttons[1];
        action_div.appendChild(edit_button);
        action_div.appendChild(delete_button);
        // add to row
        row_action_div.appendChild(action_div);
        return [row_action_div, row_link_div];
    }

    // load initial planning
	function createPlanning(){
        color_idx = 5;

	    // load position select options for add action panel
	    loadAddActionSelects();

		//get whole frame
        var planning_frame = document.getElementById("planning");
        // clear previous panel
        while(planning_frame.childNodes.length!=0)
            planning_frame.removeChild(planning_frame.childNodes[0]);
        // create new one based on change
		for(var act_idx in action_list){
			//alert(action); initial state, place brewer on cup...
			var action = action_list[act_idx];

            // create rows for action and link
            [row_action_div, row_link_div] = createRows(action);

			// add to frame
			planning_frame.appendChild(row_action_div);
			planning_frame.appendChild(row_link_div);
		}

		// add links and caps
		for(var pre_idx in precondition_list){
            var pre = precondition_list[pre_idx];

            // find all durations for actions in this pre
            pre_durations = [];
            var duration_idx = 0;
            var act_idx_in_pre = 0;
            while(act_idx_in_pre < precondition_dict[pre].length && pre in effect_duration && duration_idx < effect_duration[pre].length){
                var pushFlag = false;
                var duration = effect_duration[pre][duration_idx];
                var act_in_pre = precondition_dict[pre][act_idx_in_pre];
                var act_idx = action_list.indexOf(act_in_pre);

                if(duration.length==1 && act_idx > duration[0]){
                    pre_durations.push(duration);
                    pushFlag = true;
                }
                else if(duration.length==2 && act_idx>duration[0] && act_idx<=duration[1]){
                    pre_durations.push(duration);
                    pushFlag = true;
                }
                // if pre_durations.push(duration), skip other actions in the same duration
                if(pushFlag){
                    while(act_idx_in_pre < precondition_dict[pre].length-1){
                        act_idx_in_pre++;
                        act_in_pre = precondition_dict[pre][act_idx_in_pre];
                        act_idx = action_list.indexOf(act_in_pre);
                        if(act_idx > duration[1])
                            break;
                    }
                    duration_idx++;
                }
                else{
                    if(act_idx > duration[1])
                        duration_idx++;
                    else{
                        act_idx_in_pre++;
                    }
                }
            }

			var color = color_set[color_idx];
            if(precondition_dict[pre].length!=0){
                var last_act_in_pre = precondition_dict[pre][precondition_dict[pre].length-1];
                var last_act_idx_in_pre = action_list.indexOf(last_act_in_pre);
            }
			for(var j=0; j<action_list.length-1; j++){
                var new_svg = createSvg(action_list[j], pre);
                hasLinkFlag = false;
                // no action need this precondition
                if(precondition_dict[pre].length==0){
                    var new_link = createLink(color, hide=true);
                }
                // there's some action need this precondition
                else{
                    for(var duration_idx in pre_durations){
                        duration = pre_durations[duration_idx];
                        
                        if(j<last_act_idx_in_pre && ((duration.length==2 && j>=duration[0] && j<duration[1]) || (duration.length==1 && j>=duration[0]))){
                            var new_link = createLink(color, hide=false);
                            hasLinkFlag = true;
                            break;
                        }
                    }
                    if(!hasLinkFlag)
                        var new_link = createLink(color, hide=true);
                }       
				new_svg.appendChild(new_link);
				// create new cap and append to svg
				if(precondition_dict[pre].includes(action_list[j+1])){
                    var new_cap = createCap(hide=false,!hasLinkFlag);
                    if(!hasLinkFlag){
                        if(pre in ori_data["effect_duration"]){
                            // find the duration of this missing precondition
                            var duration_diff = ori_data["effect_duration"][pre].filter(function(v){ return effect_duration[pre].indexOf(v) == -1 });
                            for(var i=0;i<duration_diff.length;i++){
                                var duration = duration_diff[i];
                                if(j+1>duration[0] && j+1<=duration[1])
                                    break;
                            }
                            // animation for previous links
                            for(var act_idx=duration[0];act_idx<j;act_idx++){
                                var svg = document.getElementById(action_list[act_idx]+"_"+pre+"_svg");
                                svg.childNodes[0].setAttribute("fill","red");
                                // first visible
                                svg.childNodes[0].setAttribute("visibility","visible");
                                // on animation end
                                svg.childNodes[0].addEventListener("animationend", function(e){
                                    linkAniEnd(this);
                                });
                                svg.childNodes[0].classList.add("scaleTransition");
                            }
                        }
                        // user-added new precondition
                        else{

                        }
                        // animation for current new action
                        new_svg.childNodes[0].setAttribute("fill","red");
                        // first visible
                        new_svg.childNodes[0].setAttribute("visibility","visible");
                        // on animation end
                        new_svg.childNodes[0].addEventListener("animationend", function(e){
                            linkAniEnd(this);
                        });
                        new_svg.childNodes[0].classList.add("scaleTransition");
                    }   
				}
				else{  // if just cross this action, hide the cap
                    var new_cap = createCap(hide=true,!hasLinkFlag);
                }
				new_svg.appendChild(new_cap);
				// add svg to document
				var link_row = document.getElementById(action_list[j]+"_link_row");
				link_row.append(new_svg);
			}
			color_idx++;
        }

        
        // add js events on dom elements
        // add hover effects after DOM elements been created
        $(".new_svg").hover(function() {
            var res = $(this)[0].id.split("_");
            var act = res[0];
            var pre = res[1];
            $("#svg_name").html('action:'+act+'<br/>'+'precondition:'+pre);
        });

        // click edit icon: edit precondition/effect
        clickEditIcon();
        // click delete icon:
        clickDeleteIcon();

        // add action panel
        pre_num = 1;
        pos_eff_num = 1;
        neg_eff_num = 1;
        var add_pre_number = document.getElementById("add_pre_number");
        var add_pos_eff_number = document.getElementById("add_positive_eff_number");
        var add_neg_eff_number = document.getElementById("add_negative_eff_number");
        // clear previous input
        add_pre_number.value = null;
        add_pos_eff_number.value = null;
        add_neg_eff_number.value = null;
        // precondition & effect add number on change
        add_pre_number.addEventListener('change', function() { 
            pre_num = parseInt(add_pre_number.value,10);
            loadCondition("add","precondition",null,pre_num);
        }); 
        add_pos_eff_number.addEventListener('change', function() { 
            pos_eff_num = parseInt(add_pos_eff_number.value,10);
            loadCondition("add","effect","positive",pos_eff_num);
        });
        add_neg_eff_number.addEventListener('change', function() { 
            neg_eff_num = parseInt(add_neg_eff_number.value,10);
            loadCondition("add","effect","negative",neg_eff_num);
        });

        // submit edit action
        var edit_action_button = document.getElementById("edit_action_button");
        edit_action_button.onclick = submitEditAction;
        // submit add action
        var add_action_button = document.getElementById("add_action_button");
        add_action_button.onclick = submitAddAction;
	}

</script>
<script type="text/javascript" src="static/js/animation.js"></script>


</body>
</html>