<!DOCTYPE html>
<html>

<head>
    <title>MyConductor</title>
    <link rel="icon" href="{{ url_for('static', filename='img/msg.png') }}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

    <nav class="navbar bg-info fixed-top">
        <h1><a href="/"><i class="fa fa-tasks text-light"><span class="display-4 text-light">&nbsp;MyConductor</span></i></a></h1>
    </nav>
    <div class="jumbotron text-center bg-info mt-2 pb-1 mb-5">
        <h1 class="display-3 text-light">Explore your plan</h1>
        <div class="card bg-info border-info">
            <div class="card-body text-light">
                <h3 id="fileNames"></h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                <div class="btn-group btn-group-lg mb-5" role="group">
                    <button class="btn btn-dark" id="reset_planning_button">Reset Plan</button>
                    <button class="btn btn-success" id="new_action_button">Add Action</button>
                    <button class="btn btn-warning" id="expand_planning_button">Expand Planning</button>
                    <button class="btn btn-secondary" id="save_plan_button">Save Plan</button>
                </div>
                <div id="planning"></div>
            </div>
            <div class="col-4">
                <div id="new_action_layout"></div>
                <div id="action_detail_area">
                    <div class="btn-group btn-group-lg mb-5" role="group">
                        <button class="btn btn-warning" id="show_all_button">Show All</button>
                        <button class="btn btn-secondary" id="hide_all_button">Hide All</button>
                    </div>
                    <div id="show-actions" class="list-group"></div>
                </div>
                <!-- create new action-->
                <div class="modal fade" id="newActionModal" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create New Action</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="newActionModalBody"></div>
                            <div class="modal-footer" id="newActionModalFooter"></div>
                        </div>
                    </div>
                </div>
                <!-- create new precondition-->
                <div class="modal fade" id="newPreconditionModal" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Create New Precondition</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body" id="newPreconditionModalBody"></div>
                            <div class="modal-footer" id="newPreconditionModalFooter">
                                <button type="button" class="btn btn-primary" id="submitNewPreconditionModal">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="jumbotron bg-light text-center mt-5">
        <p class="lead">Ruoyao Yang, 2020/11</p>
    </footer>


    <!--    jquery, bootstrap, icon JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script type="text/javascript" src="static/js/js-colormaps.js"></script>
    <script>
        let myData;
        let domain_file;
        let problem_file;
        let plan_file;
        let action_list;
        let action_dict;
        let precondition_list;
        let effect_list;
        let effect_duration;
        let objects;
        let pre_selects;
        let pre_params;
        let action_selects;
        let action_params;
        let color_set;
        let color_idx;
        $(document).ready(function () {

            // 这几个list要随改随更新！！
            myData = {{ data | tojson }};
            // get data from python flask and load to params
            loadInitialSetting();

            // load initial plan
            createPlanning();
        });



        // --------Define functions below-------------
        function loadInitialSetting(){
            console.log(myData);
            action_list = myData["action_list"];
            action_dict = myData["action_dict"];
            precondition_list = myData["precondition_list"];
            effect_list = myData["effect_list"];
            effect_duration = myData["effect_duration"];
            objects = myData["objects"];
            pre_selects = myData["pre_selects"];
            pre_params = myData["pre_params"];
            action_selects = myData["action_selects"];
            action_params = myData["action_params"];

            // set colors
            color_idx = 3;
            color_set = cmap_rainbow(35);
            // color_idx = 12;
            // color_set = cmap_rainbow(120);

            // display file name
            domain_file = myData["domain_file"];
            problem_file = myData["problem_file"];
            plan_file = myData["plan_file"] ? '<br/>plan: '+myData["plan_file"] : '';
            $("#fileNames").empty();
            $("#fileNames").append(`domain: ${domain_file}<br/>problem: ${problem_file}${plan_file}`);
        }

        // color map, cite from: https://jsfiddle.net/xphsnyew/
        function cmap_rainbow(valcnt, cyclelen = null, s = 100, l = 50, stepsize = 1) {
            if (cyclelen == null)
                cyclelen = valcnt;
            let cm = new Array(valcnt);
            /* Deliberately exclude the endpoint because it's cyclic. */
            let step;
            if (cyclelen <= 2)
                step = 360;
            else
                step = 360. / (cyclelen - 1);
            for (let i = 0; i < valcnt * stepsize; i += stepsize) {
                let h = Math.round((i % cyclelen) * step);
                // Use this if you want hsl values:
                //cm[i] = 'hsl(' + h + ',' + s + '%,' + l + '%)';
                // Use this if you want rgb values:
                let rgb = hslToRgb(h / 360., s / 100., l / 100.);
                cm[i] = 'rgb(' + Math.round(rgb[0]) + ',' +
                    Math.round(rgb[1]) + ',' + Math.round(rgb[2]) + ')';
            }
            return cm;
        }

        function hslToRgb(h, s, l) {
            let r, g, b;

            if (s == 0) {
                r = g = b = l; // achromatic
            } else {
                function hue2rgb(p, q, t) {
                    if (t < 0) t += 1;
                    if (t > 1) t -= 1;
                    if (t < 1 / 6) return p + (q - p) * 6 * t;
                    if (t < 1 / 2) return q;
                    if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
                    return p;
                }

                let q = l < 0.5 ? l * (1 + s) : l + s - l * s;
                let p = 2 * l - q;
                r = hue2rgb(p, q, h + 1 / 3);
                g = hue2rgb(p, q, h);
                b = hue2rgb(p, q, h - 1 / 3);
            }

            return [r * 255, g * 255, b * 255];
        }

    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/loadPlan.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/removeAction.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/reorderAction.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/deletePreEff.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/displayActionInfo.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/addAction.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/addPreEff.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/showPreAnimation.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/undoFunctions.js') }}"></script>

</body>

</html>
